.searchPage {
  margin-top: 100px;

  .title {
    display: grid;
    grid-template-columns: 3fr 1fr;

    h2 {
      margin: auto 0;
    }

    a {
      margin: auto 0;
    }

    button {
      width: 275px;
      height: 50px;
      background: #eac435;
      border: none;
      border-radius: 2px;
      color: white;
      cursor: pointer;
      font-weight: bold;
      font-size: 24px;
      margin: auto 0;
    }
  }
}
@media (max-width: 530px) {
  .searchPage {
    .title {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
